---
layout: default.hbs
---
{{> mobilemenu}}
<div id="fullpage">
<div class="section">{{> slide1 }}</div>
<div class="section">{{> slide2 }}</div>
<div class="section">{{> slide3 }}</div>
<div class="section">{{> slide4 }}</div>
<div class="section">{{> slide5 }}</div>
<div class="section">{{> slide6 }}</div>
<div class="menu-btn hidden-sm hidden-md hidden-lg">Menu<span></span></div>
</div>
