<div class="container">
    <div class="row support-header">
        <a href="#signupform" class="cta-btn hidden-sm hidden-xs pull-right" title="Show Your Support">Show Your Support<img src="assets/img/rainbow-flag.png" alt="Rainbow flag" /></a>
        <div class="lock-up">
            <h4 class="white-txt supporters-txt"><strong>1709</strong><span></span></h4>
            <h4 class="white-txt agencies-txt"> <strong>500</strong> Agencies</h4>
        </div>
    </div>
</div>