<div class="mobile-menu hidden-sm hidden-md hidden-lg">
    <div class="container">
        <a href="#home-slide">
            <h2>Home</h2>
        </a>
        <a href="#quotes-slide">
            <h2>Testimonials</h2>
        </a>
        <a href="#info-slide">
            <h2>Why it Matters</h2>
        </a>
        <a href="#supporters-slide">
            <h2>Supporters</h2>
        </a>
        <a href="#agencies-slide">
            <h2>Agencies</h2>
        </a>
        <a href="#slide-signup-form">
            <h2>Sign Up</h2>
        </a>
        <!--<a href="#" class="share-btn" title="Share">Share</a>-->
        <div class="share-buttons sharethis-inline-share-buttons pull-left"></div>
        <div class="close-menu"></div>
    </div>
</div>