<div class="slide-quote" data-anchor="Agencies" id="agencies-slide">
    {{>heading }}
    <div class="container">
        <div class="row text-center">
            <h2><strong>Agencies Saying No to No</strong></h2>
            <img src="assets/img/line-yellow.png" />
            <div class="agency-list">

                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/AirBag-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/AKQA-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/BBE-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/broad-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/brownink-logo.png"/></a></div>

                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/ClemengerBBDOMelbourne-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/CreateStudios-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/DDBAustralia-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/EmotiveContent-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/FentonStephens-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Foundation-logo.png"/></a></div>

                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/goodoilfilms-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Isobar-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/joyagency-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Jungle-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Marmalade-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Milked-logo.png"/></a></div>

                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/NakedCommunications-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/onegreenbean-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Pixel-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Royals-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Slingshot-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/TheSweetshopFilms-logo.png"/></a></div>

                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/Thinkerbell-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/TownSquare-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/UDKU-logo.png"/></a></div>
                <div class="col-xs-6 col-lg-2 agency-tile"><a href="#"><img src="assets/img/agencies/ZooRepublic-logo.png"/></a></div>

            </div>
        </div>

        <div class="row share-bottom">
            <div class="sharethis-inline-share-buttons hidden-sm hidden-xs"></div>
            <!--<a href="#" class="share-btn hidden-sm hidden-xs pull-right" title="Share">Share</a>-->
        </div>
    </div>

</div>