<div class="slide-quote" data-anchor="Quotes" id="quotes-slide">
    {{>heading}}
    <div class="quotes-container">
        <div class="container">
            <div class="row text-center">
                <h2><strong>Why People Are Saying No to No</strong></h2>
                <img src="assets/img/line-yellow.png" />

                <div class="quote-carousel" data-slick='{"slidesToShow": 1, "arrows": true, "slidesToScroll": 1, "dots": true, "infinite": true, "autoplay": true, "autoplaySpeed":9000}'>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">It’s time Australia joined the 30 countries that have already legitimised marriage equality.
                                Let’s put this to bed.</h3>
                            <p class="quote-author">Broadsheet Media</p>
                            <p class="quote-company">Broadsheet Media</p>
                        </div>
                    </div>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">Because sexuality does not define an individual. Character does. Kindness does. Acceptance does.
                                Love does.</h3>
                            <p class="quote-author">Jessica Johnstone</p>
                            <p class="quote-company">Black Cat Creative</p>
                        </div>
                    </div>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">I refuse to contribute to any work that seeks to marginalise any group or capitalise off others'
                                misery.
                            </h3>
                            <p class="quote-author">Brett Harris</p>
                            <p class="quote-company">Ugli Co.</p>
                        </div>
                    </div>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">The 'No' campaign is hurtful, repressive and it in no way shape or form aligns with my values.</h3>
                            <p class="quote-author">Carlo Spadazzi</p>
                            <p class="quote-company">AJF Partnership</p>
                        </div>
                    </div>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">We need to stick together and help those around us. We are all in this game together!</h3>
                            <p class="quote-author">Dave Gallo</p>
                            <p class="quote-company">Y&R Melbourne</p>
                        </div>
                    </div>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">Because it is such a little "yes" and a great big hurtful "no".</h3>
                            <p class="quote-author">Ben Keenan</p>
                            <p class="quote-company">The Thought Police</p>
                        </div>
                    </div>
                    <div>
                        <div class="quote-container">
                            <img src="assets/img/quote.png" class="quote-img" />
                            <h3 class="quote">Because love is love and we all deserve happiness. It's time to grow up.</h3>
                            <p class="quote-author">Sam Harris</p>
                            <p class="quote-company">McCann</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="sharethis-inline-share-buttons hidden-sm hidden-xs"></div>
            <!-- <a href="#" class="share-btn hidden-sm hidden-xs pull-right" title="Share">Share</a> -->
        </div>
    </div>
</div>