<div class="slide-signup" data-anchor="signupform" id="slide-signup-form">
    {{>heading}}
    <div class="container">
        <div class="row text-center">
            <h2><strong>Say No to No. Sign up now!</strong></h2>
            <p><img src="assets/img/line-yellow.png" /></p>

                <div class="col-xs-12 col-lg-offset-2 col-lg-8 signup-content">
                    <div class="signup-form-cnt">
                        <div class="signup-form-scroll">
                            <div class="signup-form">
                                <div id="wufoo-z14l0t390q8l4ee"></div>
                            </div>
                        </div>
                    </div>
                    <p class="signup-smallprint text-left">We will only display your name or company name with a link to your website on saynotono.com.au. We will
                        use your email to confirm your submission. We&rsquo;ll <strong>never</strong> spam you and all those
                        nasty things.</p>
                </div>

        </div>
        <div class="row share-bottom">
            <div class="sharethis-inline-share-buttons hidden-sm hidden-xs"></div>
            <!--<a href="#" class="share-btn hidden-sm hidden-xs pull-right" title="Share">Share</a>-->
        </div>
    </div>
</div>