<div class="slide-landing" data-anchor="Home" id="home-slide">
    <div class="container">
        <div class="row support-header">
            <a href="#signupform" class="cta-btn hidden-sm hidden-xs pull-right" title="Show Your Support">Show Your Support<img src="assets/img/rainbow-flag.png" alt="Rainbow flag" /></a>
            <div>
                <h4 class="text-center white-txt"><strong>1709</strong> Supporters from <strong>500</strong> Agencies</h4>
            </div>

        </div>

        <div class="row">
            <div class="center-content">
                <img class="img-responsive" src="assets/img/say-no-to-no.png" alt="Say No to No" />
                <h2 class="text-center xtra-lineheight white-txt">Imagine if everyone involved in making messages said no to working on harmful, homophobic ads.</h2>

                <h3 class="text-center xtra-lineheight white-txt"><strong>Sign up now to show your support</strong></h3>

                <div class="text-center">
                    <a class="signup-btn" href="#signupform" title="Start sign up now">Start sign up now</a>
                </div>
            </div>
        </div>


        <div class="row share-bottom">
            <div class="sharethis-inline-share-buttons hidden-sm hidden-xs"></div>
            <!--<a href="#" class="share-btn hidden-sm hidden-xs pull-right" title="Share">Share</a>-->
        </div>

    </div>
</div>