<div class="slide-info" data-anchor="Info" id="info-slide">
    {{>heading}}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center scrollbox-header">
                    <h3>Why saying No to No Matters</h3>
                    <img src="assets/img/line-blue.png" />
                </div>


                <div class="scrollbox">
                    <div class="sb-content-header">
                        <p>With the upcoming plebiscite, there’ll be a whole lot of hurtful messages from the No campaigners.
                            Messages that will upset many in our community. Messages that may push some of us into depression
                            or, even worse, to take our own lives.
                        </p>
                        <p>Research shows that people who identify as being gay or lesbian are 3 to 4 times more likely to
                            experience anxiety and/or depression. This is largely due to homophobic harassment and violence.
                        </p>
                        <p> A recent Australian report* shows that the unfair treatment of non-heterosexual people is a life-and-death
                            matter. The study found:
                        </p>
                    </div>
                    <div class="sb-content-percentage">
                        <div class="percentage">
                            <span class="percent">16</span><span class="percent-symbol">%</span>
                            <span class="percent-txt">Of LGBTIQ young Australians had attempted suicide and a third had harmed themselves, largely again due to homophobic harassment.</span>
                        </div>
                    </div>
                    <div class="sb-content-footer">
                        <h4><strong>We can do something about it</strong></h4>
                        <p>After all, we’re in the business of making messages. Imagine if every agency, production company,
                            sound designer and illustrator said no to working on these harmful ads. Imagine then our friends
                            in media also standing up and saying no. And brands joining in to pledge that no harmful ads
                            will appear on their sites or channels. Sure, the No campaigners will find a way to make their
                            hurtful divisive messages.
                        </p>
                        <h4><strong>We can make it difficult for them</strong></h4>
                        <p>And more importantly, as an industry we can show our LGBTIQ friends that we’ll fight for them – and
                            fairness.
                        </p>

                        <h4><strong>Sign up now to help stop the harmful messages and Say No to No.</strong></h4>

                        <a class="showsupport-btn" href="#slide-signup-form" title="Show Your Support">Show Your Support</a>
                        <div class="extend-scrollbox-length"></div>
                    </div>
                </div>

            </div>


            <div class="col-sm-6">
                <div class="scrollbox-header"></div>
                <div class="carousel-container">
                    <div class="img-carousel">
                        <div class="text-center"><img class="img-responsive" src="assets/img/carousel/carousel-4.png" alt=""></div>
                        <div class="text-center"><img class="img-responsive" src="assets/img/carousel/carousel-1.png" alt=""></div>
                        <div class="text-center"><img class="img-responsive" src="assets/img/carousel/carousel-2.png" alt=""></div>
                        <div class="text-center"><img class="img-responsive" src="assets/img/carousel/carousel-3.png" alt=""></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="sharethis-inline-share-buttons hidden-sm hidden-xs"></div>
            <!-- <a href="#" class="share-btn hidden-sm hidden-xs pull-right" title="Share">Share</a> -->
        </div>


    </div>
</div>