<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Say no to no</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/fullPage.css" />
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=59b0ccc5226ccf001265af52&product=inline-share-buttons' async='async'></script>
</head>

<body>

    {% body %}

    <script type="text/javascript">
        var z14l0t390q8l4ee; (function (d, t) {
            var s = d.createElement(t), options = {
                'userName': 'thenewroyals',
                'formHash': 'z14l0t390q8l4ee',
                'autoResize': true,
                'height': '500',
                'async': true,
                'host': 'wufoo.eu',
                'header': 'show',
                'ssl': true
            };
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.eu/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function () {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { z14l0t390q8l4ee = new WufooForm(); z14l0t390q8l4ee.initialize(options); z14l0t390q8l4ee.display(); } catch (e) { }
            };
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');
    </script>

    <script src="assets/js/vendor.js" rel="script" type="text/javascript"></script>
    <script src="assets/js/script.js" rel="script" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.js"></script>

</body>

</html>